<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AcademiaQuiz</title>
    <link rel="stylesheet" href="/css/studentForm.css">
  </head>
  <body>
    <main>
        <div class="box">
                <div class="image-section">
                  <img src="/images/student.png" alt="AcademiaQuiz Image" />
                </div>
                <div class="form-section">
                  <h2>Sign Up</h2>
                  <form action="/studentForm" method="POST">
                    <label for="name">First Name</label>
                    <input type="text" id="name" name="firstname" required>
                    <label for="name">Last Name</label>
                    <input type="text" id="name" name="lastname" required>
                    <label for="name">Standard</label>
                    <input type="Number" id="name" name="standard" required>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>    
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
          
                    <button type="submit">Sign Up</button>
                  </form>
                </div>
        </div>
    </main>
  </body>
</html>